/* Hello World, This is my first playing with Sass */
body {
  font: Helvetica, Arial, sans-serif;
  background-color: #cccccc; }

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
nav li {
  display: inline-block; }
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }
