/* Hello World, This is my first playing with Sass */

$font-stack:	Helvetica, Arial, sans-serif;
$colorbase:		#ccc;


body {
	font: $font-stack;
	background-color: $colorbase;
}

nav {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	li { display: inline-block; }

	a {
		display: block;
		padding: 6px 12px;
		text-decoration: none;
	}
}